#wrapper{
    width: 90%;
    height: 900px;
    margin: 0 auto;
}
.authentication-box{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.authentication{
    margin: 50px auto 0;
}
.btn-lg{
    margin: 10px;
}

@media screen and (max-width: 760px) {
    .authentication-box{
        width: 90%;
        display: block;
    }
}